<h1 class="page-title"><%= current_user.email %>'s Pokémon Collection</h1>

<div class="table-container">
  <table class="table table-styling">
    <thead>
      <tr>
        <th>Pokémon Name</th>
        <th>Times Seen</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.user_pokemons.each do |user_pokemon| %>
        <tr>
          <td><%= user_pokemon.pokemon.name %></td>
          <td><%= user_pokemon.seen %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>