<h1 class="page-title"><%= @user.email %>'s Pokémon Collection</h1>

<div class="table-container">
  <table class="table table-styling">
    <thead>
      <tr>
        <th>Pokémon Name</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.pokemons.each do |pokemon| %>
        <tr>
          <td><%= pokemon.name %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>