<footer class="footer">
  <div class="container">
    <p class="text-center">© 2024 JeffDev17</p>
    <p class="text-center">
      Contact: <a href="mailto:your.email@example.com">jeff17.rb@gmail.com</a> | 
      <a href="https://github.com/JeffDev17">GitHub</a>
    </p>
  </div>
</footer>