<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">PokeWeather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= weather_path %>">Weather</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= pokemon_path %>#">Pokemons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= history_path %>#">History</a>
      </li>
    </ul>
  </div>
</nav>