<!-- app/views/weather/index.html.erb -->
<%= form_with url: weather_search_path, method: :get, local: true, class: "row domain-search bg-pblue" do %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2 class="form-title"><strong>Poke</strong> Weather</h2>
        <p>Which Poke is in your city?</p>
      </div>
      <div class="col-md-9">
        <div class="input-group">
          <%= text_field_tag :city, params[:city], class: "form-control", placeholder: "Enter city" %>
          <span class="input-group-addon">
            <%= submit_tag "Search", class: "btn btn-primary" %>
          </span>
        </div>
        <p>.com <strong>$8.95</strong>.net <strong>$7.95</strong>.org <strong>$9.95</strong>.club <strong>$0.99</strong></p>
      </div>
    </div>
  </div>
<% end %>
